html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

p {
  font-size: 40px;
  color: white;
  z-index: 3;
}


.gallery {
	width: 558px;
	height: 360px;
	overflow: hidden;
	position: absolute;
  z-index: 3;
  right: -1180px;
  top: 1270px;

	transform: translate(-50%, -50%);
}

.slick-list .slick-track .slick-slide {
	height: px;
	object-fit: contain; /* stretches images to fit gallery frame */
}

.slick-dots li {
	color: red;
	position: relative;
	top: -40px;
  right: -130px;
	background: white;
	border-radius: 100%;
	margin-right: 10px; /* spacing between each button */
}

.slick-dots li:hover {
	background: orange;
}

.slick-dots .slick-active {
	background: red;
}

#slick-slide-control00, #slick-slide-control01, #slick-slide-control02 {
	opacity: 0; /* hides default buttons */
}




.background {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 0px;
}


.bycatchtitle {
  z-index: 3;
  position: absolute;
  right: 530px;
  top: 100px;
  padding: 20px;
  text-align: center;
}

.p1 {
  border: 0px solid black;
  margin-right: 900px;
  margin-left: 200px;
  z-index:3;
  position: absolute;
  right: 0px;
  top: 560px;
  line-height: 150%;
}

.deadfish {
  margin-right: 210px;
  margin-left: 900px;
  z-index:3;
  position: absolute;
  right: 0px;
  top: 490px;
  width: 550px;
  height: auto;
}

.box {
height: 20px;
width: 330px;
margin-bottom: 0px;
border: 50px solid black;
clear: both;
z-index: 6;
top: 790px;
right: 480px;
position: absolute;
}

.cap1 {
  border: 0px solid black;
  margin-right: 1000px;
  margin-left: 900px;
  z-index:7;
  position: absolute;
  top: 795px;
  right: -490px;
  font-size: 20px;
  line-height: 120%;
}

.deadshark {
  margin-right: 210px;
  margin-left: 900px;
  z-index:3;
  position: absolute;
  right: 0px;
  top: 1100px;
  width: 550px;
  height: auto;
}

.box2 {
height: 20px;
width: 330px;
margin-bottom: 0px;
border: 50px solid black;
clear: both;
z-index: 6;
top: 1400px;
right: 480px;
position: absolute;
}

.cap2 {
  border: 0px solid black;
  margin-right: 1000px;
  margin-left: 900px;
  z-index:7;
  position: absolute;
  top: 1405px;
  right: -490px;
  font-size: 20px;
  line-height: 120%;
}


.p2 {
  border: 0px solid black;
  margin-right: 900px;
  margin-left: 200px;
  z-index:3;
  position: absolute;
  right: 0px;
  top: 1220px;
}



.bluebutton {
  border: 0px solid black;
  z-index:3;
  position: absolute;
  right: 620px;
  top: 3600px;
  font-size: 20px;
  line-height: 120%;
}

.click {
  position: absolute;
  right: 647px;
  top: 3490px;
  z-index:3;
  font-size: 30px;
}


.protect {
  z-index: 3;
  font-family: Gotham Ultra;
  position: absolute;
  right: px;
  top: 1800px;
  padding: 0px;
  font-size: 120px;
  text-align: center;

}

.bluebutton {
  border: 0px solid black;
  z-index:3;
  position: absolute;
  right: 270px;
  top: 4050px;
  font-size: 20px;
  line-height: 120%;
}

.text_link {
  position: absolute;
  font-family: Gotham Ultra;
  right: 290px;
  top: 4069px;
  margin-right: 60px;
  margin-left: 1040px;
  z-index:3;
  font-size: 29px;
  text-align: center;
  text-decoration: none;
}

.text_link:visited {  /* This gets rid of the purple color applied to links that were previously clicked on */
	color: white;
}

.text_link:hover {  /* Simple hover state. You should know this by now */
	color: orange;
}

.text_link:active {  /* CSS style at the moment of a mouse press */
	color: red;
}



.content { /* positioning and styling for both hover areas */
	width: 599px;
	height: 600px;
	background: transparent;
	position: absolute;
	left: 50%;
	top: 3200px ;
	transform: translate(-50%,-50%);
  z-index: 4;

}

.turtle {
  width: 599px;
	height: 600px;
  left: 50%;
	top: 3200px;
  z-index: 4;
}

.x { /* shared attributes for both Xs */
	display: block;
	position: absolute;
    z-index: 4;
}

.leftone { /* positioning for the first left X */
	left: 0px;
  position: absolute;
    z-index: 4;
}

.rightone { /* positioning for the first right X */
	right: 0px;
  position: absolute;
    z-index: 4;
}

.textone { /* Makes sure that text is hidden from the start */
	display: none;
  position: absolute;
  z-index: 4;
  top: -40px;
  left: ;
  margin-left: 190px;
  margin-right: 30px;
  text-align: right;
  font-family: Gotham Ultra;
  font-size: 50px;
}


.m {
  z-index: 3;
  position: absolute;
  font-family: Gotham Ultra;
  top: 3960px;
  right: 1394px;

}
 /* button menu */

.button {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: #52DAF2;
	position: absolute;
  right: 1400px;
  top: 4015px;
  z-index: 4;

}

.button:hover {
  background-color: red;
}

.menu {
	background: transparent;
	position: absolute;
  right: 900px;
  top: 4050px;
  z-index: 3;
	display: none;
}

.red {
	background: red;
  z-index: 3;

}

.title {
 font-family: Gotham Ultra;
 text-decoration: none;
 position: absolute;
 font-size: 30px;
 z-index: 7;
 right: 300px;
 top: 40px;

}
.title:visited {  /* This gets rid of the purple color applied to links that were previously clicked on */
	color: white;
}
.title:hover {  /* Simple hover state. You should know this by now */
	color: orange;
}
.title:active {  /* CSS style at the moment of a mouse press */
	color: red;
}



.source {
  position: absolute;
  text-decoration: none;
	font-family: Gotham Ultra;
  font-size: 30px;
  z-index: 7;
  right: 29px;
  top: 40px;

}
.source:visited {  /* This gets rid of the purple color applied to links that were previously clicked on */
	color: white;
}
.source:hover {  /* Simple hover state. You should know this by now */
	color: orange;
}
.source:active {  /* CSS style at the moment of a mouse press */
	color: red;
}
